Source: vyatta-cfg-qos
Section: contrib/net
Priority: extra
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: vyatta-cfg-qos
Architecture: all
Depends: sed (>= 4.1.5),
 perl (>= 5.8.8),
 procps (>= 1:3.2.7-3),
 coreutils (>= 5.97-5.3),
 vyatta-cfg (>= 0.15.33),
 vyatta-bash | bash (>= 3.1),
 iproute | vyatta-iproute,
 bridge-utils, 
 ethtool
Suggests: util-linux (>= 2.13-5),
 net-tools,
Description: Vyatta Qos configuration templates/scripts
 Vyatta Qos configuration templates and scripts.

Package: vyatta-cfg-qos-serial
Architecture: all
Depends:  ${perl:Depends}, ${shlibs:Depends}, vyatta-cfg-qos
Replaces: vyatta-cfg-qos
Description: vyatta-cfg-qos serial templates
 Vyatta Qos configuration templates for serial devices
